<?xml version='1.0'?>

<model>

  <name>VT - Bowl Field</name>
  <version>1.0</version>
  <sdf version='1.6'>model.sdf</sdf>

  <author>
    <name>Nate Koenig</name>
    <email>nate@osrfoundation.org</email>
  </author>

  <author>
    <name>Bárbara Almeida</name>
    <email>autobotz@cpdee.ufmg.br</email>
  </author>

  <description>
    A bow field made with heightmap.
  </description>

</model>
