<?xml version="1.0"?>

<model>

  <name>VT - Camera</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Nate Koenig</name>
    <email>nate@osrfoundation.org</email>
  </author>

  <author>
    <name>Bárbara Almeida</name>
    <email>autobotz@cpdee.ufmg.br</email>
  </author>

  <description>
    A simple camera with a box for visualization setup to be used with the VT simulatons.
  </description>

</model>
