<?xml version="1.0" ?>
<model>

    <name>VT - VT's First Version</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>

    <author>
        <name>Rodrigo Cézar</name>
        <email>autobotz@cpdee.ufmg.br</email>
    </author>

    <author>
      <name>Bárbara Almeida</name>
      <email>autobotz@cpdee.ufmg.br</email>
    </author>

    <description>
      The first version of the VT (with patinhas).
    </description>

</model>
