<?xml version='1.0'?>

<model>

  <name>VSS - Ball</name>
  <version>1.0</version>
  <sdf version='1.6'>model.sdf</sdf>

  <author>
    <name>Bárbara Almeida</name>
    <email>autobotz@cpdee.ufmg.br</email>
  </author>

  <description>
    The ball for the VSS Soccer competition.
  </description>

</model>
